<!--/*  Authored/Developed by: Michael Akinosho
    Date: December 19, 2021
    Purpose: Python Stack @ Coding Dojo*/-->


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pizza Pete's</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/site.css') }}">
            <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/css/uikit.min.css"> -->
            <meta charset="UTF-8">
            <meta name="description" content="Template HTML file">
            <meta name="keywords" content="remember to add keywords here">
            <meta name="author" content="Michael Akinosho">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    
    <body>
        <header>
            <nav class="uk-flex uk-navbar-container uk-flex-around" uk-navbar style="background-color: rgb(255, 255, 255);">
                <h1>PIZZA PETE'S</h1>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <il class="uk_active uk-padding-small"><a href="/user/quick_options">Home</a></il>
                        <!-- <il class="uk-padding-small"><a href="/user/order">Order</a></il> -->
                        {% if user.order != null: %}
                            <il class="uk_active uk-padding-small"><a class="navbar-button" href="/user/order">Order ({{ user.order }})</a>
                        {% else: %}
                            <il class="uk_active uk-padding-small"><a class="navbar-button" href="/user/order">Order (0)</a>
                        {% endif %}
                        <il class="uk-padding-small"><a href="/user/account/past_orders">Account</a></il>
                        <il class="uk-padding-small"><a href="/logout">Log Out</a></il>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main>
            <h1>YOUR ORDER</h1>
            <br>
            <!-- <h3>METHOD: order.method</h3> -->
            <h3>METHOD: </h3>
            <br>
            <!-- <h3>Qty: order.quantity</h3> -->
            <h3>Qty: </h3>
            <br>
            <!-- <h3>Size: order.size</h3> -->
            <h3>Size: </h3>
            <br>
            <!-- <h3>Crust: order.crust</h3> -->
            <h3>Crust: </h3>
            <br>
            <!-- <h3>Toppings: order.toppings</h3> -->
            <h3>Toppings: </h3>
            <br>
            <!-- <h2>PRICE     order.price</h2>   -->
            <h2>PRICE     </h2>  
            <br>
            <hr>
            <br>
            <!-- <h2>TOTAL   order.order_total</h2>  -->
            <h2>TOTAL   </h2> 
            
            <Link to="/user/random_order">START OVER</Link>>     <button>PURCHASE</button>


        </main>
        <footer>
            <nav class="uk-navbar-container" uk-navbar style="background-color: rgb(255, 255, 255);">
                
            </nav>

        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>